plyer==2.1.0
pynput==1.7.7
charset-normalizer==3.4.1
chardet==5.2.0
ultralytics==8.3.61
opencv-python==4.10.0.84
numpy==1.23.5
PyAutoGUI==0.9.54
scikit-learn==1.5.1
psutil==6.1.1
keyboard==0.13.5
Jinja2==3.1.5
platformdirs==4.3.6
requests==2.32.3
uvicorn==0.34.0
fastapi==0.115.6
PyGetWindow==0.0.9
torch==2.5.1
matplotlib==3.10.0
torchlibrosa==0.1.0
librosa==0.10.2.post1
audioread==3.0.1
mido==1.3.3
pretty_midi
pywin32
python-multipart
pyinstaller
websocket_server
basic_pitch
basic-pitch[coreml]
basic-pitch[tf]
basic-pitch[onnx]
coremltools
scikit-learn==1.5.1